body {
  text-align: center;
  margin: 10% 30% 5% 30%;
  font-family: Times, Times New Roman, Georgia, serif;
}

content {
  /* display: flex; */
  width: 60%;
}

h1 {
  font-size: 50px;
  font-style: bold;
  padding-bottom: 20px;
}

p {
  font-size: 32px;
  padding: 5px;
}

button {
  background-color: purple;
  color: white;
  margin: 3px;
  font-size: 24px;
}

#high-score-link {
  position: fixed;
  left: 5px;
  top: 5px;
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  display: none;
}

#timer {
  position: fixed;
  right: 5px;
  top: 0px;
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
  display: none;
}

.answer-buttons {
  /* display: none; */
}
